@function color($color-name) {
  $colors: (
    primary: black,
    secondary: white,
    tertiary: #eee,
  );

  @return map-get($colors, $color-name);
}

@function font-sizing($sizing-name) {
    $sizings: (
        small: 1.5rem,
        medium: 1.875rem,
        large: 2.1875rem,
        xlarge: 2.5rem       
    );
  
    @return map-get($sizings, $sizing-name);
  }
  
/* Fonts */ 
/* Put Downloaded Fonts here */
$nanum-gothic-coding: 'Nanum Gothic Coding', monospace;
$montserrat: 'Montserrat', sans-serif;


/* Put Fonts for File here */
$font-global: $montserrat;
$font-header: $nanum-gothic-coding;
$font-code-snippet: $nanum-gothic-coding;
/* End Fonts */

/* Spacing & Dividing */
@function spacing($spacing-name) {
    $spacings: (
      small: 0.25em,
      medium: 0.5em,
      large: 1em,
      xlarge: 2em
    );
  
    @return map-get($spacings, $spacing-name);
}

$primary-divider: 5px solid color(primary);


/* End Spacing & Dividing */

body {
    color: color(primary);
    font-family: $font-global;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5625; // 25 / 16
    transition: 0.2s font, 0.2s color;
    max-width: 1200px;
    margin: 0 auto;
}

a { 
    color: color(primary);
    text-decoration: none;

    &:hover {
        border-bottom: $primary-divider;
    }
}

code {
    font-family: $font-code-snippet;
    border-radius: 5px;
    background-color: color(tertiary);
    padding: 10px;
    width: 100%;
    display: block;
    border: 2px solid #ccc;
    box-sizing: border-box;
}

header {
    .h1 {
        color: color(primary);
        font-family: $font-header;
        font-size: font-sizing(xlarge);    
    }
}

.content-wrapper {
    display: flex;
}

main.single {
    max-width: 50em;
    
    h2 {
        color: color(primary);
        font-family: $font-header;
        font-size: font-sizing(xlarge);
        margin-top: 0; // Vertical Align: First post in list, sidebar item, blog title
        margin-bottom: spacing(medium)
    }
    
    h3 {
        margin: spacing(small) 0;
        color: color(primary);
        font-family: $font-header;
        font-size: font-sizing(large);
        text-transform: uppercase;
    }
    
    h4 {
        color: color(primary);
        font-family: $font-header;
        font-size: font-sizing(medium);
    }
    
    img {
        max-width: 100%;
        padding: 10px 0;
        box-sizing: border-box;
    }

    time {
        font-size: font-sizing(small);
    }

    p { 
        margin: spacing(large) 0;
    }

}

main.list {
    h2 {
        color: color(primary);
        font-family: $font-header;
        font-size: font-sizing(medium);
        margin: spacing(medium) 0;
    }

    article:first-child h2 {
        margin-top: 0; // Vertical Align: First post in list, sidebar item, blog title 
    }

}

aside.sidebar {
    flex-basis: 240px;
    flex-shrink: 0;
    
    ul {
        list-style-type: none;
        padding-left: 0;
    }

    li {
        text-transform: capitalize;
    }

    section:first-child h3 {
        margin-top: 0; // Vertical Align: First post in list, sidebar item, blog title 
    }
}

