{{ partial "header.html" . }}
<div class="content-wrapper">
	{{ partial "sidebar.html" . }}
	<main class="single">
		<article>
			<h2>{{ .Title }}</h2>
			<time>{{ .Date.Format "Monday, January 2, 2006" }}</time>
			<div>
				{{ .Content }}
			</div>
			<div>
				There should be an image
				{{ range .Resources.ByType "image" }}
					<p>I found an image</p>
					<img src="{{ .Permalink }}">
				{{ end }}
			</div>
			<div>
				<ul id="tags">
					{{ range .Params.tags }}
					<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> </li>
					{{ end }}
				</ul>
			</div>
			<div>
				{{ template "_internal/disqus.html" . }}
			</div>
		</article>
	</main>
</div>
{{ partial "footer.html" . }}
