{{ partial "header.html" . }}
<div class="content-wrapper">
	{{ partial "sidebar.html" . }}
	<main class="single">
		<article>
			<h2 class="title">{{ .Title }}</h2>
			<time>{{ .Date.Format "Monday, January 2, 2006" }}</time>
			<section>
				{{ .Content }}
			</section>
			<section>
				<ul id="tags">
					{{ range .Params.tags }}
					<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> </li>
					{{ end }}
				</ul>
			</section>
			<section>
				{{ $all_posts := where .Site.Pages ".Type" "post" }}
				{{ $other_posts := where $all_posts ".Title" "<>" .Title }}
					{{ $related_posts := where $other_posts "Params.project" .Params.project }}
					{{ if $related_posts }}
					<h2>Read More Posts On Project</h2>
					<ul>
						{{ range sort $related_posts ".Params.date" }}
						<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
						{{ end }}
					</ul>
					{{ end }}
			</section>
			<section>
				<h2 class="comments">Comments</h2>
				{{ template "_internal/disqus.html" . }}
			</section>
		</article>
	</main>
</div>
{{ partial "footer.html" . }}