<article>
    <h2>Me at a Glance</h2>
    <div>
        <p>
            I've been an
            <a href="https://travisbumgarner.com">Engineer</a>,
            <a href="https://travisbumgarner.photography">Photographer</a>,
            <a href="http://painlessprototyping.com">Entrepreneur</a>,
            <a href="https://www.cambridgehackspace.com/">Maker</a>,
            <a href="https://www.pluralsight.com/tech-blog/finish-what-you-start">Writer</a>,
            <a href="https://www.meetup.com/bostonpython/events/249585234/">Speaker</a>,
            <a href="https://www.meetup.com/Cambridge-Hackspace/events/231390053/">Teacher</a>,
            <a href="https://github.com/pluralsight/design-system">Open Source Contributor</a>, and
            <a href="https://www.linkedin.com/in/travisbumgarner/">Jack of All Trades</a>. Currently, I live in Boston,
            MA and work as a Software Engineer.
        </p>
    </div>
</article>