<article>
    <h2>Me at a Glance</h2>
    <div>
        <p>
            I've been an
            <a href="https://travisbumgarner.com">Engineer</a>,
            <a href="https://travisbumgarner.photography">Photographer</a>,
            <a href="http://painlessprototyping.com">Entrepreneur</a>,
            <a href="https://www.cambridgehackspace.com/">Maker</a>,
            <a href="https://www.pluralsight.com/tech-blog/finish-what-you-start">Writer</a>, and
            <a href="https://www.linkedin.com/in/travisbumgarner/">jack of all trades</a>. Currently, I live in Boston,
            MA and work as a Software Engineer.
        </p>
    </div>
</article>