<footer>
    <div>
        <h3>About</h3>
        <p>
            I've been an
            <a href="https://travisbumgarner.com">Engineer</a>,
            <a href="https://travisbumgarner.photography">Photographer</a>,
            <a href="http://painlessprototyping.com">Entrepreneur</a>,
            <a href="https://www.cambridgehackspace.com/">Maker</a>,
            <a href="https://www.pluralsight.com/tech-blog/finish-what-you-start">Writer</a>,
            <a href="https://www.meetup.com/bostonpython/events/249585234/">Speaker</a>,
            <a href="https://www.meetup.com/Cambridge-Hackspace/events/231390053/">Teacher</a>,
            <a href="https://github.com/pluralsight/design-system">Open Source Contributor</a>, and
            <a href="https://www.linkedin.com/in/travisbumgarner/">Jack of All Trades</a>. Currently, I live in Boston,
            MA and work as a Software Engineer.
        </p>
    </div>
    <h3>Contact</h3>
    <p>Contact me via my <a href="https://www.linkedin.com/in/travisbumgarner/">LinkedIn Profile</a>, <a href="https://travisbumgarner.com">Engineering
            Portfolio</a>, or
        <a href="https://travisbumgarner.photography">Photography Portfolio</a>.
    </p>
</footer>
<script src="{{ .Site.BaseURL }}/javascript/main.js"></script>
</div>
</body>

</html>