<footer>
    <section>
        <p>
            More Artifacts:
            <a href="https://www.linkedin.com/in/travisbumgarner">working</a>,
            <a href="https://travisbumgarner.com">making</a>,
            <a href="https://travisbumgarner.photography">photographing</a>,
            <a href="https://painlessprototyping.com">entrepreneuring</a>, and
            <a href="https://instagram.com/travis_the_wanderer">wandering</a>.
        </p>
</section>
</footer>
<script src="{{ .Site.BaseURL }}/javascript/main.js"></script>
</div>
</body>

</html>