<nav>
    <ul>
        <li>Writing
            <ul id="writing-nav">
                <li><a href="/">All Artifacts</a></li>
                {{ range $key, $value := .Site.Taxonomies.topics }}
                <li><a href="/topics/{{ $key }}/">{{ humanize $key}}</a></li>
                {{ end }}
            </ul>
        </li>
        <li><a target="_blank" href="https://travisbumgarner.photography">Photography</a></li>
        <li><a target="_blank" href="https://travisbumgarner.com">Making</a></li>
        <li><a target="_blank" href="https://painlessprototyping.com">Startup</a></li>
        <li><a target="_blank" href="https://www.linkedin.com/in/travisbumgarner">Connect</a></li>
    </ul>
</nav>