<nav>
    <ul>
        <li>Writing
            <ul>
                <li><a href="/">All Artifacts</a></li>
                {{ range $key, $value := .Site.Taxonomies.topics }}
                <li><a href="/topics/{{ $key }}/">{{ humanize $key}}</a></li>
                {{ end }}
            </ul>
        </li>
        <li class="desktop-nav-item"><a target="_blank" href="https://travisbumgarner.photography">Photography</a>
        </li>
        <li class="desktop-nav-item"><a target="_blank" href="https://travisbumgarner.dev">Engineering</a></li>
        <li class="desktop-nav-item"><a target="_blank" href="https://www.linkedin.com/in/travisbumgarner">LinkedIn</a>
        </li>
        <li id="mobile-nav">Other Artifacts
            <ul>
                <li><a target="_blank" href="https://travisbumgarner.photography">Photography</a></li>
                <li><a target="_blank" href="https://travisbumgarner.dev">Engineering</a></li>
                <li><a target="_blank" href="https://www.linkedin.com/in/travisbumgarner">LinkedIn</a></li>
            </ul>
        </li>
    </ul>
</nav>