<article class='summary'>
    <a href="{{ .Permalink }}">
        <h2>{{ .Title }}</h2>
    </a>
    <div>
        <p>{{ .Params.description }} <a href="{{ .Permalink }}">Read More</a></p>
        <div class="metadata">
            <p>
                <strong>Published: </strong> {{ .Date.Format "Monday, January 2, 2006" }}<br>
                <strong>Topics:</strong>
                {{ range .Params.topics }}
                <a href="/topics/{{ lower . }}/">{{ . }}</a>
                {{ end }}
            </p>
        </div>
    </div>

</article>